# The URL that the frontend will use to connect to the backend
# If you add more env variables to the client, make sure they all start with 'VITE_'
VITE_BACKEND_URL=http://localhost:3000

DONATION_URL=https://tikkie.me/pay/jctt0ej3k2kvecbtg4el